<div id="qg-options" class="row">
    <div id="qg-share" class="qg-share"></div>

    <div id="qg-feedback-btn">
        <button class="btn btn-default qg-toggle-btn collapsed qg-icon" id="page-feedback-useful"
            data-toggle="collapse"
            data-target="#qg-page-feedback">Feedback</button>
    </div>
</div>

<div id="qg-page-feedback" class="row collapse">

    <form id="qg-page-feedback-form"
        method="post"
        action="https://www.smartservice.qld.gov.au/services/submissions/email/feedback/feedback"
        class="form"
        data-recaptcha="true"><!-- data-toggle="true" -->

        <ol class="questions">
            <li>
                  <fieldset id="page-feedback-about">
                      <legend><span class="label">Is your feedback about:</span></legend>
                      <div class="radio">
                        <input name="page-feedback-about" id="page-feedback-about-this-website" type="radio" value="this website"
                               data-qg-pr="default"
                               data-parent="#qg-page-feedback-form"
                               data-target="#feedback-page">
                        <label for="page-feedback-about-this-website">this website</label>
                      </div>
                      <div class="radio">
                        <input name="page-feedback-about" id="page-feedback-about-a-government-service" type="radio" value="a government service"
                               data-qg-pr="default"
                               data-parent="#qg-page-feedback-form"
                               data-target="#feedback-serv-dep-staff">
                        <label for="page-feedback-about-a-government-service">a government service, department or staff member?</label>
                      </div>
                  </fieldset>
            </li>
        </ol>

        <div class="panel">

            <div id="feedback-serv-dep-staff" class="status info panel-collapse collapse">
                <h2>Feedback on government services, departments and staff</h2>
                <p>Please use our <a href="https://www.qld.gov.au/contact-us/complaints/">complaints and compliments form</a>.</p>
            </div>

            <div id="feedback-page" class="panel-collapse collapse">

                <h2>Page feedback</h2>

                <ol id="feedback-page-list" class="questions">

                    <li class="col-12">

                        <fieldset>

                            <legend>
                                <span class="label">How satisfied are you with your experience today?</span>
                                <abbr title="(required)" class="required">*</abbr>
                            </legend>
                            <div class="radio">
                              <input type="radio" name="feedback-satisfaction" value="Very dissatisfied" required="" id="fs-very-dissatisfied" />
                              <label for="fs-very-dissatisfied">Very dissatisfied (1)</label>
                            </div>
                            <div class="radio">
                              <input type="radio" name="feedback-satisfaction" value="Dissatisfied" required="" id="fs-dissatisfied" />
                              <label for="fs-dissatisfied">Dissatisfied (2)</label>
                            </div>
                            <div class="radio">
                              <input type="radio" name="feedback-satisfaction" value="Neither satisfied or dissatisfied" required="" id="fs-neither-satisfied-or-dissatisfied" />
                              <label for="fs-neither-satisfied-or-dissatisfied">Neither satisfied or dissatisfied (3)</label>
                            </div>
                            <div class="radio">
                              <input type="radio" name="feedback-satisfaction" value="Satisfied" required="" id="fs-satisfied" />
                              <label for="fs-satisfied">Satisfied (4)</label>
                            </div>
                            <div class="radio">
                              <input type="radio" name="feedback-satisfaction" value="Very satisfied" required="" id="fs-very-satisfied" />
                              <label for="fs-very-satisfied">Very satisfied (5)</label>
                            </div>

                        </fieldset>
                    </li>

                    <li class="col-12">
                      <div class="form-group">
                          <label for="comments">
                              <span class="label">Comments</span>
                              <abbr title="(required)" class="required">*</abbr>
                          </label>
                          <textarea class="form-control" name="comments" id="comments" rows="10" cols="40" required="required"></textarea>
                      </div>
                    </li>

                    <li id="feedback-captcha-container" class="col-md-12">
                      <div class="form-group">
                          <label for="feedback-captcha">Please leave this blank (this helps us identify automatic spam)</label>
                          <input class="form-control" type="text" name="captcha" id="feedback-captcha" value="" />
                      </div>
                    </li>

                    <li class="footer col-md-12">
                        <span id="feedback-hidden-inputs"></span>

                        <ul class="actions">

                            <li>
                                <button type="submit" value="Submit feedback" class="qg-btn btn-primary">Submit feedback</button>
                            </li>

                        </ul>

                    </li>

                </ol>

            </div>

        </div>

    </form>

</div>
